<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nerd.tuxmobil.fahrplan.congress" android:versionCode="16" android:versionName="1.23">
    <uses-sdk android:targetSdkVersion="17" android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="nerd.tuxmobil.fahrplan.congress.MyApp" android:theme="@style/Theme.notmydepartment" android:logo="@drawable/ic_actionbar_logo">
        <activity android:label="@string/fahrplan" android:name="Fahrplan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EventDetail" android:configChanges="keyboardHidden|orientation" android:label="@string/fahrplan" android:uiOptions="splitActionBarWhenNarrow"></activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="AlarmList" android:label="@string/reminders"></activity>
        <receiver android:name="AlarmReceiver">
        </receiver>
        <receiver android:name="nerd.tuxmobil.fahrplan.congress.onBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <activity android:name="nerd.tuxmobil.fahrplan.congress.Prefs" android:label="@string/fahrplan"></activity>

    </application>
</manifest>