<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nerd.tuxmobil.fahrplan.congress" android:versionCode="6" android:versionName="1.05">
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="nerd.tuxmobil.fahrplan.congress.MyApp">
        <activity android:label="@string/app_name" android:name="Fahrplan" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EventDetail" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="AlarmList" android:label="@string/reminders"></activity>
        <receiver android:name="AlarmReceiver">
        </receiver>
        <receiver android:name="nerd.tuxmobil.fahrplan.congress.onBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <activity android:name="nerd.tuxmobil.fahrplan.congress.Prefs"></activity>

    </application>
</manifest>