signing.cccamp2023-release.keystoreFilePath=/home/USERNAME/.android/cccamp2023-release-key.keystore
signing.cccamp2023-release.keystorePassword="PASSWORD"
signing.cccamp2023-release.keyAlias="cccamp2023"
signing.cccamp2023-release.keyPassword="ANOTHERPASSWORD"
