signing.camp2015-release.keystoreFilePath=/home/USERNAME/.android/camp2015-release-key.keystore
signing.camp2015-release.keystorePassword="PASSWORD"
signing.camp2015-release.keyAlias="camp2015"
signing.camp2015-release.keyPassword="ANOTHERPASSWORD"
