<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nerd.tuxmobil.fahrplan.congress">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name="nerd.tuxmobil.fahrplan.congress.MyApp"
            android:theme="@style/Theme.Congress"
            >
        <activity
                android:label="@string/app_name"
                android:theme="@style/Theme.Congress.NoActionBar"
                android:launchMode="singleTop"
                android:name="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="EventDetail"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/fahrplan"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="nerd.tuxmobil.fahrplan.congress.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="nerd.tuxmobil.fahrplan.congress.MainActivity"/>
        </activity>
        <activity
                android:configChanges="keyboardHidden|orientation"
                android:name="AlarmList"
                android:label="@string/reminders"
                android:parentActivityName="nerd.tuxmobil.fahrplan.congress.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="nerd.tuxmobil.fahrplan.congress.MainActivity"/>
        </activity>

        <receiver android:name="AlarmReceiver">
        </receiver>
        <receiver android:name="nerd.tuxmobil.fahrplan.congress.onBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
                android:name="nerd.tuxmobil.fahrplan.congress.SettingsActivity"
                android:theme="@style/Theme.Congress.NoActionBar"
                android:label="@string/settings"/>
        <service
                android:name="UpdateService"
                android:exported="false"/>
        <receiver android:name="ConnectivityStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="nerd.tuxmobil.fahrplan.congress.ChangeListActivity"
            android:theme="@style/Theme.Congress.NoActionBar"
            android:label="@string/schedule_changes" >
        </activity>
        <activity
            android:name="nerd.tuxmobil.fahrplan.congress.StarredListActivity"
            android:theme="@style/Theme.Congress.NoActionBar"
            android:label="@string/starred_lectures" >
        </activity>
    </application>
</manifest>